<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://instagram.fktw1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/53921821_2229807480408760_5718435602714064396_n.jpg?_nc_ht=instagram.fktw1-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=HuIp0YC2INwAX_-N7Hs&oh=34f53bbb9d4a98bb4bd2acbc03eb4202&oe=5F8197E4" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Kacper Formas</h5>
        <p class="card-text">Semestr: II</p>
        <p class="card-text">nr.indeksu: 3859</p>
      </div>
    </div>
  </div>
</div>
